/* MOBILE FIRST - Default screen at min. 280px */

html {
  font-size: 15px;
  background-color: white;
  color: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
main {
  font-family: 'Rubik', sans-serif;
  background-color: white;
  padding: 2%;
  align-content: center;
}
/*HEADER*/

header {
  background-color: black;
}
.jumbotron {
  background-color: black;
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 30px;
}
.jumbotron>h1 {
  font-family: 'Inknut Antiqua', serif;
  font-size: 2.5rem;
  line-height: 3.8rem;
}
.jumbotron>h2 {
  font-size: 1rem;
  font-weight: 400;
}
.jumbotron>h3 {
  text-transform: none;
  font-size: 1rem;
  font-weight: bold;
}
.jumbotron>p {
  /*tagline style*/
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: 50;
}
header>.container {
  background-color: black;
  margin-top: 30px;
}
#header-texts>* {
  color: white;
}
/* MENU */

.navbar {
  margin: 0 auto;
  width: 100%;
  background-color: black;
}
.navbar-nav {
  display: flex;
  align-items: center;
  background-color: black;
  margin: 20px 0 20px 0;
}
/*EXHIBITION BRIEF - MOBILE*/

/*VERTICAL CAROUSEL*/

#container {
  display: flex;
  min-height: 80vh;
  margin: 3rem 0 3rem 0;
}
#carousel, #navigation {
  flex: initial;
}
.brief-nav {
  flex-direction: row;
  justify-content: center;
}
#carousel {
  overflow: hidden;
  height: 80vh;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
}
#navigation {
  width: 10%;
}
.p-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}
.p-wrapper>section {
  padding-right: 1.5rem;
}
#button_1:checked~#carousel .p-wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
#button_2:checked~#carousel .p-wrapper {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
#button_3:checked~#carousel .p-wrapper {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
}
[class^="panel_"] {
  overflow: auto;
  position: relative;
  width: inherit;
  height: inherit;
}
[class^="label_"] {
  display: block;
  cursor: pointer;
  margin: 8px 0;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #aaa;
  background-color: #fff;
  transition: all 0.3s ease;
}
[class^="label_"]:hover {
  color: #444;
  background-color: #ffeed9;
}
#button_1:checked~#navigation .label_a, #button_2:checked~#navigation .label_b, #button_3:checked~#navigation .label_c {
  cursor: default;
  color: #fff;
  background-color: #222;
}
#navigation>label {
  border: 0.5px solid slategrey;
}
.exhibition-brief {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.poster-img>img {
  /*poster doesn't display in mobile*/
  display: none;
}
/*SELECTED PHOTOGRAPHS - MOBILE*/

.main-photo-container, .container-gallery {
  width: 100%;
  margin: 0;
}
.img-container {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}
.media-box {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}
.thumbnail {
  width: 100%;
}
.caption-box {
  color: black;
  width: 100%;
  margin-top: 1rem;
}
.caption-box>h4 {
  /*photographer names*/
  color: slategrey;
  font-size: 1.3rem;
}
.sensitive {
  /*contents are sensitive*/
  -webkit-filter: blur(6px);
  filter: blur(6px);
}
/*CONTACT - MOBILE*/

.contact {
  width: 100%;
  padding: 2%;
}
.contact>.box {
  width: 100%;
}
.form-group {
  margin: 0 auto;
}
/*FOOTER*/

.footer-content {
  background-color: black;
  color: white;
  font: 0.8rem;
  padding: 2%;
}
.socmed-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.socmed-buttons>img {
  margin: 0.3rem;
  height: 20px;
}
.footer-text {
  font: 0.8rem;
  line-height: 0.3rem;
}
/*STYLINGS - MOBILE*/

#backtotop {
  z-index: 5;
  background-color: slategray;
  opacity: 0.30;
  border-radius: 50%;
  position: absolute;
}
hr {
  /*separator*/
  border: 1px solid slategray;
  margin: 5rem 0 5rem 0;
}
h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: slategray;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
h2 {
  color: black;
  padding: 1%;
  margin-left: 2%;
  font-size: 1.6rem;
  text-transform: uppercase;
}
h3 {
  font-size: 1.3rem;
  color: black;
  text-transform: uppercase;
  margin: 0;
}
h4 {
  margin-bottom: 0.75rem;
}
.caption-box>p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-family: 'Archivo Narrow', sans-serif;
}
#dyptich {
  margin-top: -1rem;
}
#dyptich>p {
  margin: 0;
  border: 0;
  font-size: 1.1rem;
  font-family: 'Archivo Narrow', sans-serif;
}
b {
  font-weight: bold;
}
.nav-link {
  color: white;
}
.btn {
  margin-top: 0.8rem;
}
.footer-text {
  padding-top: 0.5rem;
}
.footer-text>p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 0.9rem;
}
a {
  color: white;
  text-decoration: underline;
}
.jumbotron>h1 {
  font-weight: bolder;
}
.jumbotron>h3 {
  font-weight: 300;
}
.filmsby-list>ul, li {
  margin-left: 1rem;
}
/*====================================================*/

/*TABLET*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .jumbotron>h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 3.8rem;
    line-height: 4.5rem;
  }
  .jumbotron>h2 {
    font-size: 2rem;
    font-weight: 400;
  }
  .jumbotron>h3 {
    text-transform: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .jumbotron>p {
    /*tagline style*/
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: 50;
  }
  #header-texts>* {
    color: white;
  }
  p {
    font-size: 1.1rem;
  }
  .caption-box>p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'Archivo Narrow', sans-serif;
  }
  #dyptich {
    margin-top: -1.1rem;
  }
  #dyptich>p {
    margin: 0;
    border: 0;
    font-size: 1.2rem;
    font-family: 'Archivo Narrow', sans-serif;
  }
  /*EXHIBITION BRIEF - TABLET*/
  .container {
    margin: 0 auto;
  }
  .exhibition-brief {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2%;
  }
  .brief-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
  }
  .brief-text {
    width: 100%;
    margin-left: 1rem;
    clear: both;
  }
  .panel_b>ul {
    /*in exhibit brief*/
    margin-left: 1.1rem;
  }
  .poster-img {
    max-width: 30%;
    object-fit: cover;
  }
  .poster-img>img {
    width: 100%;
    display: flex;
    visibility: visible;
  }
  /*SELECTED PHOTOGRAPHS - TABLET*/
  .main-photo-container {
    width: 100%;
    padding: 2%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .media-box {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 2%;
    width: 100%;
  }
  .main-photo-container>.box {
    border: 0px;
  }
  .thumbnail {
    width: 100%;
  }
  .caption-box {
    color: black;
    width: 100%;
  }
  /*PROFILES - TABLET*/
  .box {
    padding: 2%;
  }
  .bio-box {
    width: 100%;
    padding: 2%;
  }
  .photogs-box {
    width: 100%;
    margin: 0;
  }
  .nightcrawlers-box {
    width: 100%;
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
  }
  .nightcrawlers-box>.box {
    width: 50%;
  }
  .additional-box {
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
  }
  .additional-box>.box {
    width: 50%;
  }
  #filmsby, #addworksby, #nightcrawlers {
    border: 3px solid black;
  }
  .organizers-box {
    width: 100%;
    display: flex;
  }
  .organizers-box>.box {
    width: 50%;
  }
  /*CONTACT - TABLET*/
  .form-group, label {
    margin: 0;
  }
  .btn {
    margin-top: 1rem;
  }
  .footer-text p {
    font-size: 0.9rem;
  }
  .brief-nav {
    margin-left: 10px;
  }
}
/*==========================================*/

/*LAPTOP*/

@media only screen and (min-device-width: 769px) and (max-device-width: 2000px) {
  /*HEADER*/
  header {
    background-color: black;
  }
  .jumbotron {
    margin-top: 50px;
  }
  .jumbotron>h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .jumbotron>h2 {
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .jumbotron>h3 {
    text-transform: none;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .jumbotron>p {
    /*tagline style*/
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 50;
  }
  header>.container {
    background-color: black;
    margin-top: 30px;
  }
  .brief-nav {
    margin-left: 10px;
  }
  /*EXHIBITION BRIEF - LAPTOP*/
  .exhibition-brief {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2%;
  }
  .brief-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .brief-text {
    width: 100%;
    padding-left: 1rem;
  }
  .poster-img {
    max-width: 30%;
    object-fit: cover;
  }
  .poster-img>img {
    width: 100%;
    visibility: visible;
    display: flex;
  }
  p {
    font-size: 1.2rem;
  }
  .caption-box>p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-family: 'Archivo Narrow', sans-serif;
  }
  #dyptich {
    margin-top: -1.3rem;
  }
  #dyptich>p {
    margin: 0;
    border: 0;
    font-size: 1.3rem;
    font-family: 'Archivo Narrow', sans-serif;
  }
  /*SELECTED PHOTOGRAPHS - LAPTOP*/
  .main-photo-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .main-photo-container>.box {
    display: block;
  }
  .img-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .media-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
    align-items: flex-end;
  }
  .thumbnail {
    width: 60%;
  }
  .caption-box {
    width: 40%;
    padding-left: 10px;
    align-self: flex-end;
    margin-bottom: -2%;
  }
  .exhibition-brief {
    margin: 0 auto;
  }
  .poster-img {
    width: 40%;
    object-fit: cover;
    float: left;
  }
  .poster-img>img {
    max-width: 100%;
    display: flex;
  }
  /*PROFILES - LAPTOP*/
  .box {
    padding: 2%;
  }
  .bio-box {
    width: 100%;
  }
  .photogs-box {
    width: 100%;
    margin: 0;
  }
  .nightcrawlers-box {
    width: 100%;
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
  }
  .nightcrawlers-box>.box {
    width: 50%;
  }
  .additional-box {
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
  }
  .additional-box>.box {
    width: 50%;
  }
  #filmsby, #addworksby, #organizers, #nightcrawlers {
    border: 3px solid black;
  }
  /*contact + organizers*/
  .organizers-box {
    width: 100%;
    display: flex;
  }
  .organizers-box>.box {
    width: 50%;
  }
  .contact {
    margin: 10% auto;
    padding: 0 70px;
  }
  .form-group, label {
    margin: 0;
  }
  .btn {
    margin-top: 1rem;
  }
  .footer-text p {
    font-size: 0.9rem;
    color: white;
  }
  .btn {
    margin-top: 1rem;
  }
  /*FONT STYLINGS - LAPTOP*/
  .generic-container>p {
    font-size: 1.3rem;
  }
  p, ul {
    font-size: 1.2rem;
    color: black;
  }
  .contact {
    padding: 0 auto;
  }
  .btn {
    margin-top: 1rem;
  }
  .caption-box>h4 {
    /*photographer names*/
    color: slategrey;
    font-size: 1.5rem;
  }
}