/* * {
  border: 0.5px solid rgb(194, 185, 137);
} */
#root,
html {
  background-color: lightgoldenrodyellow;
}
.App {
  margin-top: 20px;
  margin-left: 25%;
  background-color: lightgoldenrodyellow;
  width: calc(100vw - 30%);
  align-items: center;
}
.app-title {
  margin: 20px 30px;
}

.navbar {
  width: 22%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-right: 1px solid rgba(197, 195, 158, 0.267);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -10px inset;
}
.authentication-box {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.authentication-box,
.menu-box {
  align-self: flex-start;
  margin: 30px auto;
}
.main-display {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.register-box {
  width: 380px;
  border-radius: 20px;
  padding: 5%;
  margin: 10px;
  background-color: rgba(172, 229, 255, 0.397);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.login-box {
  width: 350px;
  border-radius: 20px;
  padding: 4%;
  margin: 20px;
  background-color: rgba(255, 226, 188, 0.521);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.empty-display,
.welcome-display {
  width: 220px;
  margin-left: 20px;
  align-self: center;
}
.landing-box {
  width: 820px;
  display: flex;
  flex-direction: row;
}
.toastUser {
  position: center;
  z-index: 1;
}
.toastGuest {
  position: center;
  z-index: 1;
}

/* CARD */

.note-display-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 800px;
}
.note-display-header > * {
  margin-top: 20px;
}
.notes-display {
  width: 820px;
  height: 100vh;
  margin: 10px auto;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  /* justify-content: center; */
}
.notes-display::before,
.notes-display::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
.card {
  margin: 10px;
  width: 230px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card:nth-child(3n + 1) {
  order: 1;
}
.card:nth-child(3n + 2) {
  order: 2;
}
.card:nth-child(3n) {
  order: 3;
}
.card-header {
  height: 40px;
}
.card-title {
  font-weight: 700;
  font-size: medium;
}
.card-footer {
  align-items: center;
}

/* FOOTER BUTTONS STYLINGS */
.footer-btn {
  margin: 0 auto;
}
.new-note-btn {
  background-color: rgb(244, 247, 241);
  border-radius: 10px;
  border: 2px solid gray;
  height: 60px;
}
.new-note-btn:hover {
  background-color: #495f4c; /* Green */
  color: white;
  border: 2px solid rgb(40, 77, 35);
}
.new-note-btn > img {
  margin-right: 10px;
}
/* .delete-btn {
} */
.delete-btn:hover {
  background-color: rgb(252, 117, 117);
  color: white;
  border: 1px solid darkgray;
}
/* .edit-btn {
} */
.edit-btn:hover {
  border-radius: 20%;
  background-color: #aac5ff; /* Green */
  color: white;
  border: 1px solid darkgray;
}
/* .hide-btn {
} */
.hide-btn:hover {
  background-color: #e2eee4; /* Green */
  color: white;
  border: 1px solid darkgray;
}
.unhide-btn:hover {
  background-color: #f2dfff; /* Green */
  color: white;
  border: 1px solid darkgray;
}

/* USER PROFILE */

.profile-box {
  width: 750px;
  margin: 0 auto;
}

.profile-box-details {
  width: 650px;
  margin: 0 auto;
}

.profile-image {
  width: 200px;
}
.profile-image > img {
  width: 150px;
  border-radius: 50%;
}
.left-col {
  width: 400px;
}
.right-col {
  width: 100%;
  margin-left: -150px;
}
.profile-submit-edit {
  background-color: rgba(0, 255, 255, 0.589);
}

/* modal editing */
.modal-content {
  width: 450px;
}
.edit-card {
  margin: 0 auto;
  width: 100%;
}

.disabledCursor {
  cursor: default;
}
